<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/Products/Product-Add"><button type="button" class="btn btn-primary">Product Add</button></a>
<a href="/Products/Product-list"><button type="button" class="btn btn-success">Product List</button></a>
